<div class="f-style t-cntr">
  <h2>
    {{title}}
  </h2>
  <hr>
  <div *ngIf="!croppieImage">
    <img class="img-circle" [src]="imageToDisplay" alt="" />
  </div>
  <div class="croppie-section" *ngIf="croppieImage">
    <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" [points]="[0, 0, 400, 400]" (result)="newImageResultFromCroppie($event)"></ngx-croppie>
    <p><strong>File Name</strong> : {{fileName}}</p>
  </div>
  <div class="mt-20">
    <input type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/jpeg, image/png" hidden/>
    <button type="button" *ngIf="!croppieImage && currentImage" class="ui button basic small grey" (click)="removeImage()">Remove</button>
    <button type="button" class="ui button basic small orange" (click)="imageUpload.click()">Browse</button>
    <span *ngIf="croppieImage">
      <button type="button" class="ui button basic small grey" (click)="cancelCroppieEdit()">Cancel</button>
      <button type="button" class="ui button basic small green" (click)="saveImageFromCroppie()">Save</button>
      <button type="button" class="ui button basic small blue" (click)="rotateDir('l')">
        <img src="assets/images/undo-solid.svg" class="mr-5" height="12">Rotate Left
      </button>
      <button type="button" class="ui button basic small blue" (click)="rotateDir('r')">
        <img src="assets/images/redo-solid.svg" class="mr-5" height="12">Rotate Right
      </button>
      <button type="button" class="ui button basic small grey" (click)="getCropPoints()">Get crop points</button>
    </span>
  </div>
</div>
