<h1>
  {{title}}
</h1>
<div>
  <img [src]="imageToDisplay" alt="" />
</div>

<div>
  <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ngx-croppie>
</div>
<div>
  <input type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png"
  />
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelCroppieEdit()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="saveImageFromCroppie()">Save</button>
  <button type="button" class="btn btn-primary" (click)="getCropPoints()">Get crop points</button>
</div>
